<div class="container">
  <p>Vous avez déjà votre MVP en mains: Bravo!
    Il rencontre du succcès: encore plus Bravo!!

    Il est peut être temps de:
    - tester votre idée auprés de  nos beta testeurs
    - s'informer sur les démarches pour lancer votre projet
    - se faire accompagner</p>
</div>
