<% content_for(:title) do %>
<%= @project.name %>
<% end %>


<h2><%= @project.name %></h2>
<p><%= @project.domain %></p>


<%= link_to "Delete", restaurant_path(restaurant),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
